<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!--
        配置集中管理属性
        说白了就是设置静态属性，
        后面使用的时候直接用${name}即可。
     -->
    <property name="pattern" value="[%-5level] %date{yyyy-MM-dd HH:mm:ss.SSS,GMT+8} %M %L %c %m%n">
        <!--
        日志输出格式：
            %-5level 日志级别
            %d{yyyy-MM-dd HH:mm:ss.SSS} 日期
            %c 类的完整名称
            %M method方法名
            %L 行号
            %thread 线程名
            %m或者%msg 日志信息
            %n 换行
        -->
    </property>

    <!-- 控制台日志输出的 appender -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 控制输出流对象 默认 System.out 改为 System.err -->
        <target>System.err</target>
        <!-- 日志消息格式配置 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <!-- root logger配置 -->
    <root level="ALL">
        <appender-ref ref="console"></appender-ref>
    </root>
</configuration>
